<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.asiantech.intern20summer1">

    <uses-sdk tools:overrideLibrary="com.zhpan.indicator" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeWeek4">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".week3.LoginActivity" />
        <activity
            android:name=".week4.activity.SplashActivity"
            android:theme="@style/SplashscreenTheme" />
        <activity android:name=".week4.activity.SignInActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".week4.activity.HomeActivity" />
        <activity android:name=".week5.activity.TimeLineActivity" />
        <activity android:name=".week6.activity.FirstPageActivity" />
        <activity android:name=".week6.activity.SecondPageActivity" />
        <activity android:name=".week7.activity.HomeWeekSevenActivity" />
        <activity android:name=".week7.activity.RegisterWeekSevenActivity" />
        <activity android:name=".week7.activity.SplashWeekSevenActivity" />
    </application>
</manifest>
